* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.6;
}

.container {
	max-width: 650px;
	margin: 1rem auto;
	overflow: auto;
	padding: 0 2rem;
}

h1 {
	color: #777;
	margin-top: 15px;
}

h3 {
	margin-bottom: 10px;
}

img {
	width: 100%;
}

.message {
	text-align: center;
	padding: 5px;
	border: #ccc dotted 2px;
	margin-top: 2rem;
}

.logo {
	width: 300px;
	display: block;
	margin: auto;
}

.form-group {
	margin: 1rem 0;
}

input[type='text'],
select,
textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.2rem;
	border: 1px solid #ccc;
}

.btn {
	display: block;
	width: 100%;
	background: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	outline: none;
	margin-top: 1rem;
}

h2.registrate-text {
	text-align: center;
	margin: 0 0 50px 0;
	padding: 0 0 0 0;
	font-family: roboto, sans-serif;
	font-size: 20px;
	color: #E53212;
	font-weight: 300;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
  }